.flex{
    display: flex;
}

.justify-between{
    justify-content: space-between;
}

.bold{
  font-weight: bold;
}

.container{
    padding: 20px 10%;
    display: flex;
    color: white;

    .list{
        width: 25%;

        .item{
            padding: 15px;
            background-color: #212121;
            border-radius: 4px;
            margin: 10px 0;
            align-items: center;
            justify-content: space-around;

            .icon{
                width: 50px;
            }
        }


    }

    .details {
        background-color: #212121;
        width: 70%;
        border-radius: 4px;
        margin: 10px;

        .element {
            margin: 20px;
        }

        .title {
            margin: 20px;
            font-size: large;
        }
    }
}
