<h1 mat-dialog-title>Nouveau modèle</h1>
<div mat-dialog-content>
    <p>Nom du modèle</p>
    <mat-form-field>
      <input matInput [(ngModel)]="data.modelName" #name="ngModel" required cdkFocusInitial>
    </mat-form-field>
    <p>Auteur</p>
    <mat-form-field>
      <input matInput [(ngModel)]="data.author" #author="ngModel" required>
    </mat-form-field>
    <p>Nombre de polygones</p>
    <mat-form-field>
      <input type="number" matInput [(ngModel)]="data.polygons" #polygons="ngModel" required>
    </mat-form-field>
    <p>Nom du fichier</p>
    <mat-form-field>
      <input matInput [(ngModel)]="data.filename" #filename="ngModel" required>
    </mat-form-field>
    <p>Description</p>
    <mat-form-field>
      <textarea matInput [(ngModel)]="data.description" cdkAutosizeMinRows="2"></textarea>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onClose()">Fermer</button>
    <button mat-button
      [disabled]="name.errors?.['required'] || author.errors?.['required'] || polygons.errors?.['required'] || filename.errors?.['required']"
      [mat-dialog-close]="data">
      Enregistrer
    </button>
  </div>
